@using System.Globalization
@model HappyGift.Web.ViewModels.Users.UsersListViewModel

@{
    ViewData["Title"] = "Start New Vote";
}

<div class="container mt-4">
    @if (Model.Users.Any())
    {
        <form asp-action="StartVote" method="post">
            <h4>Select a colleague to start a gift vote for their upcoming birthday.</h4>
            <div class="form-group">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>Name</th>
                            <th>Upcomming Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.Users)
                        {
                            <tr>
                                <td>
                                    <input type="radio" name="selectedUserId" value="@user.Id" />
                                </td>
                                <td>@user.Name</td>
                                <td>@user.CommingBirthdayDate.ToString("d MMMM yyyy", CultureInfo.InvariantCulture)</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <span asp-validation-for="SelectedUserId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Start Vote</button>
            </div>
        </form>
    }
    else
    {
        <p class="alert alert-warning">There are no available employees for starting a vote.</p>
    }
</div>
